/*CERVEZAS*/
.bodyCervezas {
    background-image: url(../imagenes/portadaSin\ 1.png);
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.titleCerveza{
    color: white;
}
.presentacionCerveza {
    margin: 15rem 0 10rem;
    width: 100vw;
    height: 50rem;
    background-image: url(../imagenes/fabricaDeCerveza-2\ 1.png);
    background-position: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: flex-end;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);

      .h3{
          padding: 1rem;
        font-size: 4rem;
        color: rgba(255, 255, 255, 0.46);
        font-weight: bold;
        
    }
}
.cervezas {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
}    
    
    .cervezas__menu{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
    }
    .videoFabrica {

        width: 500;
        height: 300;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        &__video{
            transition: ease 3s;
        }
        &__video:hover {
        transform: scale(200%);
    
        }    
        
    }